@CHARSET "UTF-8";


section{
	background-color: rgba(204, 204, 255, 1);
}

footer{
	background-color: #2B2B2B;
	color:white;
}

body{
	background-color: rgba(204, 204, 255, 0.7);
}


main, footer{
	padding: 20px 0px 20px 0px;
}